<%= render 'books/list', book: @book, user: current_user %>


<% @users.each do |user| %>
  <div>
    <p>名前：<%= user.name %></p>
    <%= link_to user_path(user.id) do %>show<% end %>
  </div>
<% end %>